$backgroundColor: #000;
$bodyColor: #fff;
$menuBgColor: #eee;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$menuHeight: 1.5em;
$footerHeight: 40px;

body {
  background-color: $backgroundColor;
  background: url("/assets/images/background.png");
  background-repeat: repeat;
  color: $bodyColor;
  font-family: $bodyFont;

}

.page-wrapper {
    min-height: 100%;

    background-color: rgba(0,0,0,0.5);
}

.site-title {
    padding: .5em;
    font-size: 1.5em;
    margin-bottom: 0;


    @media screen and (max-width: 765px) {
        font-size: 0.7em;
    }
}

.main-menu {
    text-align: center;
    margin: 2em 0em;
    margin-top: 0em;
    padding: $menuHeight;

    background-color: $menuBgColor;
    font-size: 1.5em;

    @media screen and (max-width: 765px) {
        font-size: 0.7em;
        padding: $menuHeight / 2;
        margin-top: 1em;
        margin-bottom: 3em;

    }

    a {
        padding: $menuHeight;
        margin: 1em;

        color: black;
        text-decoration: none;
        text-transform: Capitalize;

        transition-duration: 0.2s;
    }

    &:not(:hover) > a.current, a:hover, a:active {
        margin: -1em;
        padding: ($menuHeight * 1.25) ($menuHeight * 2);

        background-color: rgb(255, 255, 128);
        box-shadow: 0 0 3px black;
    }
}

.content-wrapper {
    padding-bottom: $footerHeight;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5em 1em;
    height: $footerHeight;

    background-color: black;
}

.portfolio {
    .portfolio-item {
        margin-bottom: 1em;
        transition-duration: 0.2s;
        position: relative;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 3px 3px rgba(0,0,0,0.7);
        }
    }
}

.ui.icon.button.back-to-portfolio-link {
    color: white;
    background-color: rgba(0,0,0,0.5);

    margin-bottom: 1em;
}
